a:link , a:visited{

    background-color: ;
    color:yellow;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 40px;
    transition-duration: 1.0s;
}

a:hover { 
    background-color: black;
}